@charset="utf-8";

.jumbotron{
    background-image:url('imazhe/school.jpg');
    /*background-size:auto;*/
    background-position:center;
}
.intro-description{
    position:relative;
    margin: 21px auto auto;
    /*width: 57%;*/
}
.uet_bg{
    background:#C0C0C0;
}
.partial-titlte{

    color:blue;
}
.card .card-body:hover{
    background:blue;
    color:white;
    margin-top:-8px;
    cursor:pointer;
}
.mini-footer{
    display:flex;
    justify-content:space-around;
}

a:hover{

background-color:lightblue;
}